.initilal-loader{
    width: 100% ;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.log-out-btn{
    padding: 8px 12px;
    align-self: flex-end;
    margin: 30px 30px 0 0;
    outline: none;
    border: none;
    cursor: pointer;
    background: #000;
    color: #F7FFFB;
    font-size: 1.1rem;
}
.admin-page-container{
    height: 100%;
    display: flex;
}
.left-container{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F7FFFB;
}
.right-container{
    width: 60%;
    background-color: #f2fff7;
}
.users-loading{
    width: 100% ;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 13%;
    /* color: #baff8b; */
}
