.initilal-loader{
    width: 100% ;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.admin-page-container{
    height: 100%;
    display: flex;
}
.left-container{
    width: 40%;
    background-color: #F7FFFB;
}
.right-container{
    width: 60%;
    background-color: #f2fff7;
}
.users-loading{
    width: 100% ;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 13%;
    /* color: #baff8b; */
}
